Civ5_Dialog_Alexander
Civ5_Dialog_alMansur
Civ5_Dialog_Ashurbanipal
Civ5_Dialog_Askia
Civ5_Dialog_Attila
Civ5_Dialog_Augustus
Civ5_Dialog_Bismarck
Civ5_Dialog_Boudicca
Civ5_Dialog_Casimir
Civ5_Dialog_Catherine
Civ5_Dialog_Darius
Civ5_Dialog_Dido
Civ5_Dialog_Elizabeth
Civ5_Dialog_Enrico
Civ5_Dialog_GajahMada
Civ5_Dialog_Gandhi
Civ5_Dialog_GenghisKhan
Civ5_Dialog_Harald
Civ5_Dialog_Harun
Civ5_Dialog_Hiawatha
Civ5_Dialog_Inherited_Expansion2
Civ5_Dialog_Isabella
Civ5_Dialog_Isabella_Expansion
Civ5_Dialog_Isabella_NewWorldDeluxeScenario
Civ5_Dialog_Kamehameha
Civ5_Dialog_Maria
Civ5_Dialog_MariaI
Civ5_Dialog_Montezuma
Civ5_Dialog_Napoleon
Civ5_Dialog_Nebuchadnezzar
Civ5_Dialog_Oda
Civ5_Dialog_Pacal
Civ5_Dialog_Pacal_NewWorldDeluxeScenario
Civ5_Dialog_Pachacuti
Civ5_Dialog_Pachacuti_NewWorldDeluxeScenario
Civ5_Dialog_Pedro
Civ5_Dialog_Pocatello
Civ5_Dialog_Ramesses
Civ5_Dialog_Ramkhamhaeng
Civ5_Dialog_Sejong
Civ5_Dialog_Selassie
Civ5_Dialog_Shaka
Civ5_Dialog_Suleiman
Civ5_Dialog_Theodora
Civ5_Dialog_Washington
Civ5_Dialog_William
Civ5_Dialog_William_NewWorldDeluxeScenario
Civ5_Dialog_WuZetian
CIV5_Victory
CIV5AICityStrategies
CIV5AIEconomicStrategies
CIV5AIGrandStrategies
CIV5AIMilitaryStrategies
Civ5AnimationCategories
Civ5AnimationPaths
CIV5ArtStyleTypes
CIV5Attitudes
CIV5Automates
CIV5Beliefs
CIV5BuildingClasses
CIV5BuildingClasses_Expansion
CIV5BuildingClasses_Expansion2
CIV5BuildingClasses_Inherited_Expansion2
CIV5BuildingClasses_NewWonders
CIV5Buildings
CIV5Buildings_Babylon
CIV5Buildings_Expansion
CIV5Buildings_Expansion2
CIV5Buildings_Inherited_Expansion2
CIV5Buildings_NewWonders
CIV5Builds
CIV5Builds_DLC_02
CIV5Builds_Expansion
CIV5Builds_Expansion2
CIV5Builds_Inherited_Expansion2
CIV5Builds_Polynesia
CIV5Calendars
CIV5Cities_Expansion
CIV5Cities_Expansion2
CIV5Cities_Inherited_Expansion2
CIV5CitySizes
CIV5CitySpecializations
CIV5Civilization_Babylon
CIV5Civilization_DLC_02
CIV5Civilization_DLC_Denmark
CIV5Civilization_DLC_Korea
CIV5Civilization_DLC_Polynesia
CIV5Civilization_Mongol
CIV5Civilizations
CIV5Civilizations_Expansion
CIV5Civilizations_Expansion2
CIV5Civilizations_Inherited_Expansion2
CIV5Civilizations_NewWonders
Civ5Civilopedia_Inca_NewWorldDeluxeScenario
Civ5Civilopedia_Spain_NewWorldDeluxeScenario
Civ5CivilopediaDLC_Spain_Expansion
Civ5CivlopediaDLC_Babylon
Civ5CivlopediaDLC_Denmark
Civ5CivlopediaDLC_Inca
Civ5CivlopediaDLC_Korea
Civ5CivlopediaDLC_Mongolia
Civ5CivlopediaDLC_Polynesia
Civ5CivlopediaDLC_Spain
CIV5Climates
CIV5Colors
CIV5Colors_Expansion
CIV5Colors_Inherited_Expansion2
CIV5Commands
CIV5Concepts
CIV5Concepts_Expansion
CIV5Concepts_Expansion2
CIV5Concepts_Inherited_Expansion2
CIV5Contacts
CIV5Controls
CIV5CultureLevels
CIV5Cursors
CIV5DenialInfos
Civ5Diplomacy_Responses
CIV5Diplomacy_Responses_DLC_02
Civ5Diplomacy_Responses_Expansion
Civ5Diplomacy_Responses_Expansion2
CIV5Diplomacy_Responses_GenghisKhan
CIV5Diplomacy_Responses_Harald
Civ5Diplomacy_Responses_Inherited_Expansion2
CIV5Diplomacy_Responses_Kamehameha
CIV5Diplomacy_Responses_Nebuchadnezzar
CIV5Diplomacy_Responses_Sejong
CIV5Domains
CIV5EmphasizeInfos
Civ5EntityEvents
CIV5Eras
CIV5Features
CIV5Features_Expansion
CIV5Features_Expansion2
CIV5Features_Inherited_Expansion2
CIV5Flavors
CIV5GameOptions
CIV5GameOptions_Expansion
CIV5GameOptions_Expansion2
CIV5GameOptions_Inherited_Expansion2
CIV5GameSpeeds
CIV5GameText_Cities
CIV5GameText_Cities_Babylon
CIV5GameText_Cities_DLC_02
CIV5GameText_Cities_DLC_02_Scenario
CIV5GameText_Cities_DLC_1066_Scenario
CIV5GameText_Cities_DLC_Denmark
CIV5GameText_Cities_DLC_Korea
CIV5GameText_Cities_DLC_Polynesia
CIV5GameText_Cities_DLC_Polynesia_Scenario
CIV5GameText_Cities_Mongol
CIV5GameText_Cities_MongolScenario
CIV5GameTextInfos
CIV5GameTextInfos_1066_Scenario
CIV5GameTextInfos_Advisors
CIV5GameTextInfos_Advisors_Expansion2
CIV5GameTextInfos_Babylon
CIV5GameTextInfos_Buildings
CIV5GameTextInfos_Buildings_Babylon
CIV5GameTextInfos_Buildings_Expansion
CIV5GameTextInfos_Buildings_Expansion2
CIV5GameTextInfos_Buildings_Inherited_Expansion2
CIV5GameTextInfos_Buildings_NewWonders
CIV5GameTextInfos_Buildings_NewWorldDeluxeScenario
CIV5GameTextInfos_Buildings_Scenarios
CIV5GameTextInfos_Buildings_Scenarios_Expansion
CIV5GameTextInfos_Buildings_WonderScenario
CIV5GameTextInfos_Cities_CivilWarScenario
CIV5GameTextInfos_Cities_Expansion
CIV5GameTextInfos_Cities_Expansion2
CIV5GameTextInfos_Cities_Inherited_Expansion2
CIV5GameTextInfos_Cities_KoreanScenario
CIV5GameTextInfos_Cities_NewWorldDeluxeScenario
CIV5GameTextInfos_Cities_Scenarios_Expansion
CIV5GameTextInfos_Cities_ScrambleAfricaScenario
CIV5GameTextInfos_Cities_WonderScenario
CIV5GameTextInfos_CityStates
CIV5GameTextInfos_CityStates_1066Scenario
CIV5GameTextInfos_CityStates_Expansion
CIV5GameTextInfos_CityStates_Expansion2
CIV5GameTextInfos_CityStates_Inherited_Expansion2
CIV5GameTextInfos_CityStates_MongolScenario
CIV5GameTextInfos_CityStates_NewWorldDeluxeScenario
CIV5GameTextInfos_CityStates_NewWorldScenario
CIV5GameTextInfos_CityStates_PolynesianScenario
CIV5GameTextInfos_CityStates_Scenarios_Expansion
CIV5GameTextInfos_CityStates_WonderScenario
CIV5GameTextInfos_Civilizations
CIV5GameTextInfos_Civilizations_1066_Scenario
CIV5GameTextInfos_Civilizations_Babylon
CIV5GameTextInfos_Civilizations_CivilWarScenario
CIV5GameTextInfos_Civilizations_DLC_02
CIV5GameTextInfos_Civilizations_DLC_Denmark
CIV5GameTextInfos_Civilizations_DLC_Korea
CIV5GameTextInfos_Civilizations_DLC_Polynesia
CIV5GameTextInfos_Civilizations_Expansion
CIV5GameTextInfos_Civilizations_Expansion2
CIV5GameTextInfos_Civilizations_Inherited_Expansion2
CIV5GameTextInfos_Civilizations_Mongol
CIV5GameTextInfos_Civilizations_MongolScenario
Civ5GameTextInfos_Civilizations_NewWorldDeluxeScenario
CIV5GameTextInfos_Civilizations_NewWorldScenario
CIV5GameTextInfos_Civilizations_PolynesianScenario
CIV5GameTextInfos_Civilizations_Scenarios_Expansion
CIV5GameTextInfos_Civilizations_ScrambleAfricaScenario
CIV5GameTextInfos_Civilizations_WonderScenario
CIV5GameTextInfos_Civilopedia
CIV5GameTextInfos_Civilopedia_DLC_Denmark
CIV5GameTextInfos_Civilopedia_Expansion
CIV5GameTextInfos_Civilopedia_Expansion2
CIV5GameTextInfos_Civilopedia_Inherited_Expansion2
CIV5GameTextInfos_Civilopedia_NewWorldDeluxeScenario
CIV5GameTextInfos_CivilWarScenario
CIV5GameTextInfos_Credits
CIV5GameTextInfos_Denmark
CIV5GameTextInfos_DLC
CIV5GameTextInfos_DLC_02
CIV5GameTextInfos_Espionage_Expansion
CIV5GameTextInfos_Espionage_Inherited_Expansion2
CIV5GameTextInfos_Expansion
CIV5GameTextInfos_Expansion2
CIV5GameTextInfos_FoR_Scenario
CIV5GameTextInfos_FrontEndScreens
CIV5GameTextInfos_Great_Works_Expansion2
CIV5GameTextInfos_Improvements_NewWorldDeluxeScenario
CIV5GameTextInfos_InGameScreens
CIV5GameTextInfos_InGameScreens_Expansion
CIV5GameTextInfos_InGameScreens_Expansion2
CIV5GameTextInfos_InGameScreens_Inherited_Expansion2
CIV5GameTextInfos_Inherited_Expansion2
CIV5GameTextInfos_Jon
CIV5GameTextInfos_Jon_Expansion
CIV5GameTextInfos_Jon_Expansion2
CIV5GameTextInfos_Jon_Inherited_Expansion2
CIV5GameTextInfos_Korea
CIV5GameTextInfos_KoreanScenario
CIV5GameTextInfos_Leaders
CIV5GameTextInfos_Leaders_1066_Scenario
CIV5GameTextInfos_Leaders_CivilWarScenario
CIV5GameTextInfos_Leaders_DLC_02
CIV5GameTextInfos_Leaders_Expansion
CIV5GameTextInfos_Leaders_Expansion2
CIV5GameTextInfos_Leaders_GenghisKhan
CIV5GameTextInfos_Leaders_Harald
CIV5GameTextInfos_Leaders_Inherited_Expansion2
CIV5GameTextInfos_Leaders_Kamehameha
CIV5GameTextInfos_Leaders_KoreanScenario
CIV5GameTextInfos_Leaders_MongolScenario
CIV5GameTextInfos_Leaders_Nebuchadnezzar
CIV5GameTextInfos_Leaders_NewWorldDeluxeScenario
CIV5GameTextInfos_Leaders_NewWorldScenario
CIV5GameTextInfos_Leaders_PolynesianScenario
CIV5GameTextInfos_Leaders_Scenarios_Expansion
CIV5GameTextInfos_Leaders_ScrambleAfricaScenario
CIV5GameTextInfos_Leaders_Sejong
CIV5GameTextInfos_Leaders_WonderScenario
CIV5GameTextInfos_Leagues_Expansion2
CIV5GameTextInfos_MapAmer
CIV5GameTextInfos_MapAsia
CIV5GameTextInfos_MapMed
CIV5GameTextInfos_MapMeso
CIV5GameTextInfos_Medieval_Scenario
CIV5GameTextInfos_Mongol
CIV5GameTextInfos_MongolScenario
CIV5GameTextInfos_NewWorldDeluxeScenario
CIV5GameTextInfos_NewWorldScenario
CIV5GameTextInfos_Objects
CIV5GameTextInfos_Objects_1066_Scenario
CIV5GameTextInfos_Objects_CivilWarScenario
CIV5GameTextInfos_Objects_DLC_02
CIV5GameTextInfos_Objects_Expansion
CIV5GameTextInfos_Objects_Expansion2
CIV5GameTextInfos_Objects_Inherited_Expansion2
CIV5GameTextInfos_Objects_NewWorldDeluxeScenario
CIV5GameTextInfos_Objects_Scenarios_Expansion
CIV5GameTextInfos_Objects_WonderScenario
CIV5GameTextInfos_Polynesia
CIV5GameTextInfos_PolynesianScenario
CIV5GameTextInfos_Religion_Expansion
CIV5GameTextInfos_Religion_Expansion2
CIV5GameTextInfos_Religion_Inherited_Expansion2
CIV5GameTextInfos_Religion_NewWorldDeluxeScenario
CIV5GameTextInfos_Religion_Scenarios_Expansion
CIV5GameTextInfos_ScrambleAfricaScenario
CIV5GameTextInfos_Spain_Expansion
CIV5GameTextInfos_Spies_Expansion
CIV5GameTextInfos_Spies_Expansion2
CIV5GameTextInfos_Spies_Inherited_Expansion2
CIV5GameTextInfos_Steampunk_Scenario
CIV5GameTextInfos_Techs
CIV5GameTextInfos_Techs_CivilWarScenario
CIV5GameTextInfos_Techs_Expansion
CIV5GameTextInfos_Techs_Expansion2
CIV5GameTextInfos_Techs_Inherited_Expansion2
CIV5GameTextInfos_Techs_NewWorldDeluxeScenario
CIV5GameTextInfos_Techs_NewWorldScenario
CIV5GameTextInfos_Techs_PolynesianScenario
CIV5GameTextInfos_Techs_Scenarios_Expansion
CIV5GameTextInfos_Traits_CivilWarScenario
CIV5GameTextInfos_Traits_Expansion
CIV5GameTextInfos_Traits_Expansion2
CIV5GameTextInfos_Traits_Inherited_Expansion2
CIV5GameTextInfos_Units
CIV5GameTextInfos_Units_1066_Scenario
CIV5GameTextInfos_Units_Babylon
CIV5GameTextInfos_Units_Denmark
CIV5GameTextInfos_Units_DLC_02
CIV5GameTextInfos_Units_Expansion
CIV5GameTextInfos_Units_Expansion2
CIV5GameTextInfos_Units_Inherited_Expansion2
CIV5GameTextInfos_Units_Korea
CIV5GameTextInfos_Units_KoreanScenario
CIV5GameTextInfos_Units_Mongol
CIV5GameTextInfos_Units_MongolScenario
CIV5GameTextInfos_Units_NewWorldDeluxeScenario
CIV5GameTextInfos_Units_Polynesia
CIV5GameTextInfos_Units_Scenarios
CIV5GameTextInfos_Units_Scenarios_Expansion
CIV5GameTextInfos_WonderScenario
CIV5GameTextInfos_WorldView
CIV5GameTextInfos_WorldView_Expansion
CIV5GameTextInfos_WorldView_Expansion2
CIV5GameTextInfos_WorldView_Inherited_Expansion2
CIV5GameTextInfos2
CIV5GameTextInfos2_Expansion
CIV5GameTextInfos2_Expansion2
CIV5GameTextInfos2_Inherited_Expansion2
CIV5GoodyHuts
CIV5GreatWorks_Expansion2
CIV5HandicapInfos
CIV5HintText
CIV5HurryInfos
CIV5IconFontMapping
CIV5IconFontMapping_Expansion
CIV5IconFontMapping_Expansion2
CIV5IconTextureAtlases
CIV5IconTextureAtlases_CivilWarScenario
CIV5IconTextureAtlases_Expansion
CIV5IconTextureAtlases_Expansion2
CIV5IconTextureAtlases_Inherited_Expansion2
CIV5Improvements
CIV5Improvements_DLC_02
CIV5Improvements_Expansion
CIV5Improvements_Expansion2
CIV5Improvements_Inherited_Expansion2
CIV5Improvements_Polynesia
CIV5InterfaceModes
CIV5InterfaceModes_Expansion
CIV5InterfaceModes_Expansion2
CIV5InvisibleInfos
CIV5Leader_AhmadalMansur
CIV5Leader_Alexander
CIV5Leader_Alexander_Expansion2
CIV5Leader_Ashurbanipal
CIV5Leader_Askia
CIV5Leader_Askia_Expansion2
CIV5Leader_Attila
CIV5Leader_Attila_Expansion2
CIV5Leader_Augustus
CIV5Leader_Augustus_Expansion2
CIV5Leader_Barbarian
CIV5Leader_Bismark
CIV5Leader_Bismark_Expansion2
CIV5Leader_Boudicca
CIV5Leader_Boudicca_Expansion2
CIV5Leader_Casimir
CIV5Leader_Catherine
CIV5Leader_Catherine_Expansion2
CIV5Leader_Darius
CIV5Leader_Darius_Expansion2
CIV5Leader_Dido
CIV5Leader_Dido_Expansion2
CIV5Leader_Elizabeth
CIV5Leader_Elizabeth_Expansion2
CIV5Leader_EnricoDandolo
CIV5Leader_GajahMada
CIV5Leader_Gandhi
CIV5Leader_Gandhi_Expansion2
CIV5Leader_GenghisKhan
CIV5Leader_GenghisKhan_Expansion
CIV5Leader_GenghisKhan_Expansion2
CIV5Leader_Gustavus
CIV5Leader_Gustavus_Expansion2
CIV5Leader_Harald
CIV5Leader_Harald_Expansion
CIV5Leader_Harald_Expansion2
CIV5Leader_HarunAlRashid
CIV5Leader_HarunAlRashid_Expansion2
CIV5Leader_Hiawatha
CIV5Leader_Hiawatha_Expansion2
CIV5Leader_Isabella
CIV5Leader_Isabella_Expansion
CIV5Leader_Isabella_Expansion2
CIV5Leader_Kamehameha
CIV5Leader_Kamehameha_Expansion
CIV5Leader_Kamehameha_Expansion2
CIV5Leader_Maria
CIV5Leader_Maria_Expansion2
CIV5Leader_MariaI
CIV5Leader_Montezuma
CIV5Leader_Montezuma_Expansion2
CIV5Leader_Napoleon
CIV5Leader_Napoleon_Expansion2
CIV5Leader_Nebuchadnezzar
CIV5Leader_Nebuchadnezzar_Expansion
CIV5Leader_Nebuchadnezzar_Expansion2
CIV5Leader_OdaNobunaga
CIV5Leader_OdaNobunaga_Expansion2
CIV5Leader_Pacal
CIV5Leader_Pacal_Expansion2
CIV5Leader_Pachacuti
CIV5Leader_Pachacuti_Expansion
CIV5Leader_Pachacuti_Expansion2
CIV5Leader_Pedro
CIV5Leader_Pocatello
CIV5Leader_Ramesses
CIV5Leader_Ramesses_Expansion2
CIV5Leader_Ramkhamhaeng
CIV5Leader_Ramkhamhaeng_Expansion2
CIV5Leader_Sejong
CIV5Leader_Sejong_Expansion
CIV5Leader_Sejong_Expansion2
CIV5Leader_Selassie
CIV5Leader_Selassie_Expansion2
CIV5Leader_Shaka
CIV5Leader_Suleiman
CIV5Leader_Suleiman_Expansion2
CIV5Leader_Theodora
CIV5Leader_Theodora_Expansion2
CIV5Leader_Washington
CIV5Leader_Washington_Expansion2
CIV5Leader_William
CIV5Leader_William_Expansion2
CIV5Leader_WuZetian
CIV5Leader_WuZetian_Expansion2
CIV5Leaders_Inherited_Expansion2
CIV5LeaderTables
CIV5MajorCivApproachTypes
CIV5MemoryInfos
CIV5MinorCivApproachTypes
CIV5MinorCivilizations
CIV5MinorCivTraits
CIV5Missions
CIV5ModdingText
CIV5Months
CIV5MultiplayerOptions
CIV5MultiUnitFormations
CIV5PlayerColors
CIV5PlayerColors_Expansion
CIV5PlayerOptions
CIV5Policies
CIV5PolicyBranchTypes
CIV5Processes
CIV5Projects
CIV5Regions
Civ5Religions
CIV5Replays
CIV5Resolutions
CIV5ResourceClasses
CIV5Resources
CIV5Resources_Expansion2
CIV5Resources_Inherited_Expansion2
CIV5Routes
CIV5SeaLevels
CIV5Seasons
CIV5SmallAwards
CIV5Specialists
CIV5SpecialUnits
CIV5TacticalMoves
CIV5Technologies
CIV5Terrains
CIV5Trades
CIV5Traits
CIV5Traits_Babylon
CIV5Traits_Denmark
CIV5Traits_DLC_02
CIV5Traits_Expansion
CIV5Traits_Expansion2
CIV5Traits_Inherited_Expansion2
CIV5Traits_Korea
CIV5Traits_Mongol
CIV5Traits_Polynesia
CIV5TurnTimers
CIV5UnitAIInfos
CIV5UnitClasses
CIV5UnitClasses_Expansion
CIV5UnitClasses_Expansion2
CIV5UnitClasses_Inherited_Expansion2
CIV5UnitCombatInfos
CIV5UnitMovementRates
CIV5UnitPromotions
CIV5UnitPromotions_Denmark
CIV5UnitPromotions_DLC_02
CIV5UnitPromotions_Expansion
CIV5UnitPromotions_Expansion2
CIV5UnitPromotions_Inherited_Expansion2
CIV5UnitPromotions_Mongol
CIV5UnitPromotions_NewWonders
CIV5UnitPromotions_Polynesia
CIV5Units_Babylon
CIV5Units_Denmark
CIV5Units_DLC_02
CIV5Units_Expansion
CIV5Units_Expansion2
CIV5Units_Inherited_Expansion2
CIV5Units_Korea
CIV5Units_Polynesia
CIV5Victories
CIV5Votes
CIV5VoteSources
CIV5Worlds
CIV5Yields
English
GlobalAIDefines
GlobalDefines
GlobalDiplomacyAIDefines
macedonia
Notifications
text
Audio2DScriptsExpansion1
AudioDefinesExpansion1
CityStateDiploPopup
Civ5_Dialog__GENERIC
Civ5_Dialog_Adolphus
